In [1]:
import pandas as pd 

# reading the data
data = pd.read_csv('archive/Breast_Cancer.csv')

In [2]:
# showing the data
print('Dataset :',data.shape)
data.info()
data.head()
data.describe()

Dataset : (4024, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   T Stage                 4024 non-null   object
 4   N Stage                 4024 non-null   object
 5   6th Stage               4024 non-null   object
 6   differentiate           4024 non-null   object
 7   Grade                   4024 non-null   object
 8   A Stage                 4024 non-null   object
 9   Tumor Size              4024 non-null   int64
 10  Estrogen Status         4024 non-null   object
 11  Progesterone Status     4024 non-null   object
 12  Regional Node Examined  4024 non-null   int64
 13  Reginol Node Positive   4024 non-null   int64
 14  Survival Months         4024 non-null   int64
 15  Status                  4024 non-null   object
dtypes: int64(5), object(11)
memory usage: 503.1+ KB

,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months
count,4024.000000,4024.000000,4024.000000,4024.000000,4024.000000
mean,53.972167,30.473658,14.357107,4.158052,71.297962
std,8.963134,21.119696,8.099675,5.109331,22.921430
min,30.000000,1.000000,1.000000,1.000000,1.000000
25%,47.000000,16.000000,9.000000,1.000000,56.000000
50%,54.000000,25.000000,14.000000,2.000000,73.000000
75%,61.000000,38.000000,19.000000,5.000000,90.000000
max,69.000000,140.000000,61.000000,46.000000,107.000000

In [3]:
# Remove null columns from data
data.dropna(how='all', axis=1, inplace=True)

# find non-numeric column names
obj_cols = list(data.select_dtypes(include=['object']).columns)

# check if they are useful
for column in obj_cols:
    unique_num = len(data[column].unique())
    total_num = len(data[column])
    uniqueness = (unique_num / total_num) * 100
    # if most of the data is unique, then it's not useful so remove it
    if uniqueness > 90:
        data.drop(column, axis=1, inplace=True)
    # otherwise it's useful, so convert to numeric
    else:
        # map each unique value to it's index
        unique_vals = data[column].unique()
        unique_indexes = range(0, len(unique_vals))
        data[column] = data[column].map(dict(zip(unique_vals, unique_indexes)))

In [4]:
data

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,0,0,0,0,0,0,0,0,4,0,0,24,1,60,0
1,50,0,0,1,1,1,1,1,0,35,0,0,14,5,62,0
2,58,0,1,2,2,2,1,1,0,63,0,0,14,7,75,0
3,58,0,0,0,0,0,0,0,0,18,0,0,2,1,84,0
4,47,0,0,1,0,3,0,0,0,41,0,0,3,1,50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,62,2,0,0,0,0,1,1,0,9,0,0,1,1,49,0
4020,56,0,1,1,1,1,1,1,0,46,0,0,14,8,69,0
4021,68,0,0,1,0,3,1,1,0,22,0,1,11,3,69,0
4022,58,1,1,1,0,3,1,1,0,44,0,0,11,1,72,0
4023,46,0,0,1,0,3,1,1,0,30,0,0,7,2,100,0

In [5]:
from sklearn.preprocessing import MinMaxScaler

# applying min-max scaler
scaler = MinMaxScaler()
# fitting min-max scaler
data = pd.DataFrame(scaler.fit_transform(data))

In [6]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.974359,0.0,0.00,0.000000,0.0,0.00,0.000000,0.000000,0.0,0.021583,0.0,0.0,0.383333,0.000000,0.556604,0.0
1,0.512821,0.0,0.00,0.333333,0.5,0.25,0.333333,0.333333,0.0,0.244604,0.0,0.0,0.216667,0.088889,0.575472,0.0
2,0.717949,0.0,0.25,0.666667,1.0,0.50,0.333333,0.333333,0.0,0.446043,0.0,0.0,0.216667,0.133333,0.698113,0.0
3,0.717949,0.0,0.00,0.000000,0.0,0.00,0.000000,0.000000,0.0,0.122302,0.0,0.0,0.016667,0.000000,0.783019,0.0
4,0.435897,0.0,0.00,0.333333,0.0,0.75,0.000000,0.000000,0.0,0.287770,0.0,0.0,0.033333,0.000000,0.462264,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,0.820513,1.0,0.00,0.000000,0.0,0.00,0.333333,0.333333,0.0,0.057554,0.0,0.0,0.000000,0.000000,0.452830,0.0
4020,0.666667,0.0,0.25,0.333333,0.5,0.25,0.333333,0.333333,0.0,0.323741,0.0,0.0,0.216667,0.155556,0.641509,0.0
4021,0.974359,0.0,0.00,0.333333,0.0,0.75,0.333333,0.333333,0.0,0.151079,0.0,1.0,0.166667,0.044444,0.641509,0.0
4022,0.717949,0.5,0.25,0.333333,0.0,0.75,0.333333,0.333333,0.0,0.309353,0.0,0.0,0.166667,0.000000,0.669811,0.0
4023,0.410256,0.0,0.00,0.333333,0.0,0.75,0.333333,0.333333,0.0,0.208633,0.0,0.0,0.100000,0.022222,0.933962,0.0

In [7]:
# from sklearn.preprocessing import StandardScaler

# scaler = StandardScaler()
# data = pd.DataFrame(scaler.fit_transform(data))

In [8]:
# data

In [9]:
from sklearn.model_selection import train_test_split

Y = data[15]
X = data.drop(columns=[15])
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=42)

In [10]:
print('X train shape: ', X_train.shape)
print('Y train shape: ', Y_train.shape)
print('X test shape: ', X_test.shape)
print('Y test shape: ', Y_test.shape)

X train shape:  (3018, 15)
Y train shape:  (3018,)
X test shape:  (1006, 15)
Y test shape:  (1006,)

In [11]:
from sklearn.naive_bayes import GaussianNB

# We define the model
gnb = GaussianNB(priors=[0.85, 0.15], var_smoothing=7e-1)

# We train model
gnb.fit(X_train, Y_train)

# We predict target values
Y_predict = gnb.predict(X_test)

In [12]:
# Test score
score = gnb.score(X_test, Y_test)
print(score)

0.882703777335984

In [13]:
from sklearn.metrics import classification_report

print(f'{classification_report(Y_test, Y_predict)}')

              precision    recall  f1-score   support

         0.0       0.89      0.98      0.94       863
         1.0       0.75      0.27      0.39       143

    accuracy                           0.88      1006
   macro avg       0.82      0.63      0.66      1006
weighted avg       0.87      0.88      0.86      1006

In [14]:
from sklearn.tree import DecisionTreeClassifier

# We define the model
# max_depth=, min_samples_split=, min_samples_leaf=, min_weight_fraction_leaf=, max_features=, min_impurity_decrease=, ccp_alpha=
dt = DecisionTreeClassifier(criterion='entropy', splitter='best', random_state=42, max_leaf_nodes=10, class_weight={0:1.2, 1:1})

# We train model
dt.fit(X_train, Y_train)

# We predict target values
Y_predict2 = dt.predict(X_test)

In [15]:
# Test score
score = dt.score(X_test, Y_test)
print(score)

0.915506958250497

In [16]:
print(f'{classification_report(Y_test, Y_predict2)}')

              precision    recall  f1-score   support

         0.0       0.92      0.99      0.95       863
         1.0       0.87      0.48      0.62       143

    accuracy                           0.92      1006
   macro avg       0.90      0.73      0.78      1006
weighted avg       0.91      0.92      0.90      1006

In [17]:
from sklearn.ensemble import VotingClassifier

vc = VotingClassifier(estimators=[('naive bayes', gnb), ('decision tree', dt)], voting='soft')
vc.fit(X_train, Y_train)
Y_predict3 = vc.predict(X_test)

In [18]:
# Test score
score = vc.score(X_test, Y_test)
print(score)

0.9105367793240556

In [19]:
print(f'{classification_report(Y_test, Y_predict3)}')

              precision    recall  f1-score   support

         0.0       0.91      0.99      0.95       863
         1.0       0.88      0.43      0.58       143

    accuracy                           0.91      1006
   macro avg       0.90      0.71      0.76      1006
weighted avg       0.91      0.91      0.90      1006